/* home.css */

header {
  background-color: #bf9000;
   align-items: center;
}

h1 {
  font-size: 60px;
  text-align: center;
  align-items: center;
}

/* Stile per la sezione "services" */
#services {
  padding: 50px;
  display: flex;
  
}

/* Container che contiene i bottoni */
.services-container {
  display: flex; /* Abilita il layout Flexbox */
  justify-content: space-between; /* Spazio uguale tra gli elementi */
  align-items: center; /* Allinea gli elementi verticalmente al centro */
  width: 100%; /* Assicura che il container riempia tutta la larghezza */
}

/* Stile per ogni singolo bottone */
.service button {
  flex: 1; /* Ogni bottone prende una parte uguale di spazio */
  padding: 150px 0; /* Aggiunge spazio interno (verticale) */
  font-size: 35px; /* Imposta la dimensione del testo */
  margin: 0 10px; /* Aggiunge uno spazio tra i bottoni */
  border: 1px solid #acacac; /* Aggiunge un bordo sottile */
  border-radius: 10px; /* Angoli arrotondati */
  background-color: #dadada; /* Colore di sfondo */
  color: #000000; /* Colore del testo */
  cursor: pointer; /* Cambia il cursore al passaggio sopra il bottone */
  text-align: center; /* Centra il testo all'interno del bottone */
  transition: background-color 0.3s; /* Aggiunge una transizione per l'effetto hover */
}

button {
  width: 270px; /* Larghezza fissa */
  padding: 15px 20px; /* Padding interno */
  font-size: 20px; /* Font più grande */
  border-radius: 10px; /* Angoli arrotondati */
  background-color: #e0e0e0; /* Colore di sfondo */
  color: #000000; /* Colore del testo */
  border: none; /* Rimuove il bordo */
  cursor: pointer; /* Cambia il cursore a mano quando ci si passa sopra */
}

    button:hover {
        background-color: #bf9000; /* Colore più scuro al passaggio del mouse */
    }

    
    footer {
      background-color: #bf9000;
      color: #000000;
      text-align: center;
      padding: 10px;
      position: fixed; /* Mantiene il footer sempre in basso */
      bottom: 0; /* Allinea il footer in fondo alla pagina */
      width: 100%; /* Estende il footer su tutta la larghezza della pagina */
    }
    